.about {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 50px 10%;
}

.abouttop {
    font-size: 10vw;
    margin-bottom: 32px;
}

.aboutbottom {
    font-size: clamp(24px, 2vw, 26px);
    text-indent: 52px;
}