.experience {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 0px 10%;
}
.etitle {
    font-size: 60px;
    font-weight: bold;
}

